/* Stili Globali */

/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;

Oswald used for Titles - 400/500/600/700 font-weight
Roboto Mono used for Paragraphs - 400/700 font-weight
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    overflow-x: hidden;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding: 20px;
    color: firebrick;
}

h3,
h4 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 15px;
    color: firebrick;
}

h5,
h6 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 10px;
    color: firebrick;
}

p,
a,
span {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;

}

a {
    text-decoration: none;
}

.navbar {
    background-color: firebrick;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: yellow;
}

.btn-primary {
    background-color: firebrick;
    border: 2px solid firebrick;
    margin: 5px;
}

.btn-primary:hover {
    background-color: yellow;
    border: 2px solid yellow;
    color: black;
}

.nav-pills .nav-item .nav-link.active {
    background-color: firebrick;
    color: white;
}

.nav-pills .nav-item .nav-link {
    color: black;
}

footer {
    background-color: firebrick;
    padding: 20px;
}

.foot {
    color: white;
}

.addr {
    color: white;
}

.addr:hover {
    color: yellow;
    text-decoration: none;
}

.addr i {
    color: white;
    padding-right: 10px;
}

.addr i:hover {
    color: yellow;
}

.nav .nav-item .fa-brands {
    color: white;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}

.nav .nav-item .fa-brands:hover {
    color: yellow;
}

.display-4,
.lead {
    color: white;
}

.card-deck {
    padding-top: 10px;
}

/* Homepage */

.jumbotron {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../img/pizza1.jpg");
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    padding: 90px;
    flex-direction: column;
}

/* Contatti */

.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
}

.map-resposnive iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.contattaci {
    background-color: rgba(178, 34, 34, 0.205);
    text-align: center;
    padding: 20px;
}

/* Menu */

.pietanze {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.istruzioni {
    color: firebrick;
    font-weight: 700;
}

#prenota {
    background-color: rgba(178, 34, 34, 0.205);
    text-align: center;
    padding: 20px;
}

i {
    cursor: pointer;
  }
  
  /**
  * ! Navbar STyles are here
  **/
  
  .cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: firebrick;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  
  /**
  * ! Shop items styles are here
  **/
  
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    border: 2px solid #212529;
    border-radius: 4px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .fa-square-minus {
    color: firebrick;
    font-size: 24px;
  }
  
  .fa-square-plus {
    color: firebrick;
    font-size: 24px;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }
  

/* Chi Siamo */

.chi-siamo {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../img/pizza2.jpg");
}

.about {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    padding: 90px;
    flex-direction: column;
}

.features {
    padding: 20px;
    margin: 20px;
}

.card {
    background-color: rgba(178, 34, 34, 0.205);
}